@font-face {
  font-family: Catamaran;
  src: 
  url("../fonts/Catamaran-Light.ttf"),
  url("../fonts/Catamaran-Regular.ttf"),
  url("../fonts/Catamaran-Medium.ttf"),
  url("../fonts/Catamaran-SemiBold.ttf"),
  url("../fonts/Catamaran-Bold.ttf");
}

$orange-color: rgb(255, 118, 68);